/* main css */
:root {
    --main-color: #ee3024;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: var(--main-color);
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    font-weight: 500;
    color: var(--main-color);
}

section {
    padding: 0 15px;
}

img {
    display: block;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    max-width: 414px;
    margin: 0 auto;
}

/* 타이틀 영역 */
#title {
    height: 80vh;
    background-image: url(../images/title-img.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#title > header {
    color: #fff;
}

#title > header > img {
    margin-top: 40px;
    width: 360px;
    height: 86px;
    display: block;
}

#title > header > h3 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
}

#title > header > p {
    margin-top: 10px;
    font-size: 16px;
}

.title-footer {
    margin-top: 20px;
    font-size: 16px;
    padding-bottom: 40px;
}

.title-footer > p {
    margin-bottom: 5px;
}

/* 초대글 영역 */
#invitation {
    background-color: #F8F3E4;
    padding-top: 40px;
    padding-bottom: 40px;
}

#invitation > h1 {
    margin-bottom: 10px;
}

#invitation > img {
    width: 100%;
    height: 272px;
    object-fit: cover;
}

#invitation > h2 {
    margin: 20px 0;
}

#invitation .text-group > p {
    margin-bottom: 25px;
}

#invitation .text-group > p:last-child {
    margin: 0;
}

/* 갤러리 영역 */
#gallery {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#gallery > h1 {
    margin-bottom: 10px;
}

#gallery > h2 {
    margin-top: 20px;
}

#gallery > .photo {
    width: 100%;
    height: 629px;
    display: flex;
    flex-flow: row;
    
}

#gallery > .photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 오시는 길 영역 */
#come {
    background: #F8F3E4;
    padding-top: 40px;
    padding-bottom: 40px;
}

#come > h1 {
    margin-bottom: 10px;
}

#come > h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#come .map {
    width: 100%;
    height: 386px;
}

#come .text-group {
    font-size: 16px;
}

#come .text-group > p {
    margin-bottom: 5px;
}

#come .text-group > p:last-child {
    margin: 0;
}

/* SNS 영역 */
#sns {
    width: 100%;
    height: 163px;
    background: #FAD0C3;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sns .sns-icon {
    width: 320px;
    height: 83px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#sns .awa {
    width: 60px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#sns .instagram {
    width: 86px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#sns .facebook {
    width: 79px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#sns .awa > p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: var(--main-color);
}

#sns .instagram > p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: var(--main-color);
}

#sns .facebook > p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: var(--main-color);
}

/* footer */
footer {
    width: 100%;
    height: 59px;
    background: #63252A;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copy {
    font-size: 12px;
    color: #fff;
}